<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      function updateSecondList() {
      const category = document.getElementById("sect_act").value;
      const items = {
          agr: ["فلاحة", "غابات", "الصيد البحري", "أخرى"],
          ind: ["مواد غذائية، مشروبات وتبغ", "صناعة إستخراجية", "بترول خام وغاز", "نسيج", "جلود", "كمياء، مطاط وبلاستيك", "مواد البناء", "إنتاج وتحويل المواد", "نجارة وخشب", "أوراق ومطبعة", "أخرى"],
          btp: ["عمران وسكن", "أشغال عمومية", "الموارد المائية", "خدمات بترولية", "أخرى"],
          ser: ["بنوك ،تأمين وعقار", "مواصلات وإتصالات", "تجارة", "سياحة", "أخرى"]
      };
      
      const secondDropdown = document.getElementById("nat_act");
      secondDropdown.innerHTML = "";  // Clear existing options

      if (category in items) {
          items[category].forEach(function(item) {
              const option = document.createElement("option");
              option.value = item.toLowerCase();
              option.text = item;
              secondDropdown.appendChild(option);
          });
      }
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>طلب رخصة عمل ليلي للنساء</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    {%block imageheader%}
    {%endblock%}
    {%block navbar%}
    {%endblock%}
    {%block derogation %}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>